/* STYLE GUIDE */

/* Header Extra */

header,
header > * {
  position: relative;
}
header {
  margin-bottom: 1.5rem;
  padding: 0;
}
#title {
  text-align: center;
}
#headerBg {
  background-image: var(--primary);
  position: absolute;
  top: -1rem;
  bottom: -0.5rem;
  right: -1rem;
  left: -1rem;
  width: calc(100% + 2rem);
  height: calc(100% + 1.5rem);
}

/* Inputs Extra */

button,
a.button {
  background-color: var(--dark2);
}
button.disabled,
a.button.disabled,
button:disabled {
  background-color: var(--dark3);
}
button:hover,
button:focus-visible,
a.button:hover,
a.button:focus-visible {
  background-color: var(--dark3);
}
input[type='text'],
input[type='number'],
textarea {
  background-color: var(--dark2);
}
input[type='text'].disabled,
input[type='number'].disabled,
textarea.disabled,
input[type='text']:disabled,
input[type='number']:disabled,
textarea:disabled {
  background-color: var(--dark3);
}
input[type='text']:hover,
input[type='text']:focus-visible,
input[type='number']:hover,
input[type='number']:focus-visible {
  background-color: var(--dark3);
}
textarea {
  scrollbar-color: rgba(0, 0, 0, 0.24) var(--dark2);
}
textarea::-webkit-scrollbar-track {
  background-color: var(--dark2);
}
input[type='file'] {
  width: 100%;
}
input[type='file']::file-selector-button {
  background-color: var(--dark2);
}
input[type='file'].disabled::file-selector-button,
input[type='file']:disabled::file-selector-button {
  background-color: var(--dark3);
}
input[type='file']::file-selector-button:hover,
input[type='file']:focus-visible::file-selector-button {
  background-color: var(--dark3);
}

/* STYLES */

/* Main */

main {
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* Settings */

aside {
  flex: 1 0;
  min-width: 25ch;
  background-color: var(--dark1);
  border-radius: 0 0.5rem 0 0;
  padding: 1rem;
  overflow: auto;
  font-family: Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}
#inputContainer {
  width: 100%;
  box-sizing: border-box;
  min-height: 3em;
  margin-bottom: 1rem;
  flex: 1;
}
textarea {
  resize: none;
  width: 100%;
  height: 100%;
  font-family: monospace;
}
#resetContainer {
  margin-bottom: 0.2rem;
}
.hidden {
  display: none;
}
summary {
  cursor: pointer;
  font-size: 1.1em;
}
.settingsButtonBox {
  width: fit-content;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.settingsLabel {
  margin-right: auto;
}
#optionsContainer {
  margin-top: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
fieldset {
  border: 2px solid var(--dark2);
  border-radius: 0.25rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
fieldset label {
  font-size: 0.9em;
}
fieldset legend label {
  white-space: nowrap;
  font-size: 1em;
}
fieldset legend {
  display: flex;
  gap: 0.3rem;
}
input[type='number'] {
  width: 6ch;
}
input[type='number'].smallWidth {
  width: 5ch;
}

/* Display */

:root {
  --scale: 1;
}
section {
  flex: 999 1;
  max-width: calc(
    var(--width) + calc(2 * var(--paddingLR)) + calc(2 * 0.25rem) + calc(2 * 2px) + 10px
  );
  overflow: auto;
  white-space: nowrap;
  background-color: var(--dark0);
  font-family: monospace;
  line-height: 1em;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}
#info {
  width: min(100%, calc(var(--width) + calc(2 * var(--paddingLR))));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2rem 1rem;
  position: sticky;
  left: 0;
  margin: auto;
}
#info div {
  display: flex;
  align-items: center;
}
.line {
  display: inline;
  position: relative;
}
.layer {
  position: absolute;
}
:root {
  --dark0rgb: 2, 13, 11;
  --red0: #ff0000;
}
@media (prefers-color-scheme: light) {
  :root {
    --dark0rgb: 233, 244, 242;
    --red0: #ff0000;
  }
}
.page {
  width: var(--width);
  height: var(--height);
  min-height: var(--height);
  padding: var(--paddingTB) var(--paddingLR);
  border: 2px solid var(--dark2);
  border-radius: 0.25rem;
  margin: auto;
  transform: scale(1, var(--scale));
  background: linear-gradient(
      0deg,
      rgba(var(--dark0rgb), var(--transparency)),
      rgba(var(--dark0rgb), var(--transparency))
    ),
    var(--file);
  background-size: 100% 100%;
  box-sizing: content-box;
}
.spaceBlock {
  height: 1em;
  border-radius: 0.25em;
  text-align: center;
  color: transparent;
  background-color: transparent;
  display: inline-block;
  transition:
    background-color 200ms,
    color 200ms;
}
.page.showSpaces:hover > .line > .layer > .spaceBlock {
  background-color: var(--dark1);
  color: var(--red0);
}

/* Flex */

@media screen and (max-width: 480px) {
  main {
    flex-direction: column;
  }
  aside {
    border-radius: 0 0 0.5rem 0.5rem;
    flex: 1 0;
  }
  section {
    flex: 1 0;
  }
}
