html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}



/* Accessibility */

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

*:focus-visible {
  outline: 3px solid var(--light2);
}



/* Dark Mode */

:root { /*Gradient color average: #128A74 10 midpoints first choice*/
  --light0: #E9F4F2; /*#fff*/
  --light1: #CCD7D5; /*#dfdfdf*/
  --light2: #AFBAB8; /*#bfbfbf*/
  --dark3: #596462; /*#606060*/
  --dark2: #3C4745; /*#404040*/
  --dark1: #1F2A28; /*#202020*/
  --dark0: #020D0B; /*#000*/
  --dark0rgb: 2, 13, 11;
  --primary: linear-gradient(90deg, #128e5a, #12858e);
  --secondary: linear-gradient(90deg, #32ae7a, #32a5ae);
  --scale: 1;
}
body {
  scrollbar-color: rgba(255, 255, 255, 0.24) var(--dark0);
  accent-color: #128A74;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.24);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.28);
}
textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.24);
}
textarea::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.28);
}
textarea::-webkit-scrollbar-track {
  background-color: var(--light0);
}
textarea, input[type=number] {
  background-color: var(--light0);
  color: var(--dark0);
}
input.disabled {
  background-color: var(--light2);
  color: var(--dark2);
}
#title {
  color: var(--dark0);
}
#byLine {
  color: var(--dark1);
  -webkit-text-decoration-color: var(--dark1);
          text-decoration-color: var(--dark1);
}
#byLine:hover, #byLine:focus-visible {
  background-color: rgba(255, 255, 255, 0.1);
}



/* Light Mode */

@media (prefers-color-scheme: light) {
  :root {
    --light0: #020D0B; /*#000*/
    --light1: #1F2A28; /*#202020*/
    --light2: #2D3836; /*#303030*/
    --dark3: #93A3A0; /*#9f9f9f*/
    --dark2: #AFBAB8; /*#bfbfbf*/
    --dark1: #CCD7D5; /*#dfdfdf*/
    --dark0: #E9F4F2; /*#fff*/
    --dark0rgb: 233, 244, 242;
    --primary: linear-gradient(90deg, #1bd285, #1bc4d2);
    --secondary: linear-gradient(90deg, #00b265, #00a4b2);
  }
  body {
    scrollbar-color: rgba(0, 0, 0, 0.24) var(--dark0);
    accent-color: #1BCBAC;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.24);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.28);
  }
  textarea::-webkit-scrollbar-track {
    background-color: var(--dark0);
  }
  textarea, input[type=number] {
    background-color: var(--dark0);
    color: var(--light0);
  }
  input.disabled {
    background-color: var(--dark2);
    color: var(--light2);
  }
  #title {
  color: var(--light1);
  }
  #byLine {
    color: var(--light2);
    -webkit-text-decoration-color: var(--light2);
            text-decoration-color: var(--light2);
  }
  #byLine:hover, #byLine:focus-visible {
    background-color: rgba(0, 0, 0, 0.1);
  }
}



/* Scrollbar */

body {
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track {
  background-color: var(--dark0);
  border-radius: 0.25rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}



/* Body */

body {
  display: flex;
  justify-content: center;
  background-color: var(--dark0);
  color: var(--light0);
}



/* Section */

section {
  flex: 1 0;
  min-width: 25ch;
  background-color: var(--dark1);
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 1rem;
  overflow: auto;
  font-family: Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}
#header, #header > * {
  position: relative;
}
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 1.5rem;
}
#title {
  text-align: center;
}
#title, #byLine {
  margin: 0;
}
#byLine {
  height: 1.6rem;
  display: inline-block;
  padding: 0.8rem 1rem 0.6rem 1rem;
  border-radius: 1.5rem;
  transition: background-color 0.2s;
  text-align: center;
}
#headerBg {
  background-image: var(--primary);
  position: absolute;
  top: -1rem;
  bottom: -0.5rem;
  right: -1rem;
  left: -1rem;
  width: calc(100% + 2rem);
  height: calc(100% + 1.5rem);
}
#inputContainer {
  width: 100%;
  box-sizing: border-box;
  min-height: 3em;
  margin-bottom: 1rem;
  flex: 1;
}
textarea {
  resize: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  padding: 0.15rem 0.25rem;
  border-radius: 0.25rem;
  scrollbar-color: rgba(0, 0, 0, 0.24) var(--dark0);
}
#resetContainer {
  margin-bottom: 0.2rem;
}
label[for=input] {
  font-size: 1.1em;
}
summary {
  cursor: pointer;
  font-size: 1.1em;
}
.sectionButtonBox {
  display: flex;
  gap: 0.5rem;
}
.sectionLabel {
  margin-right: auto;
}
.reset, input[type=file]::file-selector-button {
  border: none;
  border-radius: 0.25rem;
  background-color: var(--dark2);
  color: var(--light0);
  cursor: pointer;
}
.reset:hover, .reset:focus-visible, input[type=file]::file-selector-button:hover, input[type=file]:focus-visible::file-selector-button {
  background-color: var(--dark3);
}
.reset {
  display: inline;
}
input[type=file]::file-selector-button {
  line-height: 1rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}
#optionsContainer {
  margin-top: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
fieldset {
  border: 2px solid var(--dark2);
  border-radius: 0.25rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
fieldset label {
  font-size: 0.9em;
}
fieldset legend label {
  white-space: nowrap;
  font-size: 1em;
}
fieldset legend, .option {
  display: flex;
  gap: 0.3rem;
}
.option:not(.checkbox) {
  justify-content: space-between;
}
input[type=number] {
  width: 5ch;
  margin: 0.1rem 0;
  border: none;
  padding: 0.15rem 0.25rem;
  border-radius: 0.25rem;
}
label {
  cursor: pointer;
}
input.disabled, label.disabled {
  cursor: default;
}
label.disabled {
  color: var(--light2);
}
input[type=number].smallWidth {
  width: 4ch;
}
input[type=file] {
  box-sizing: border-box;
  width: 100%;
}



/* Main */

main {
  flex: 999 1;
  max-width: calc(var(--width) + calc(2 * var(--paddingLR)) + calc(2 * 0.25rem) + calc(2 * 2px));
  overflow: auto;
  white-space: nowrap;
  background-color: var(--dark0);
  font-family: monospace;
  line-height: 1em;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}
#info {
  width: min(100%, calc(var(--width) + calc(2 * var(--paddingLR))));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2rem 1rem;
  position: sticky;
  left: 0;
  margin: auto;
}
#info div {
  display: flex;
  align-items: center;
}
.line {
  display: inline;
}
.page {
  width: var(--width);
  height: var(--height);
  min-height: var(--height);
  padding: var(--paddingTB) var(--paddingLR);
  border: 2px solid var(--dark2);
  border-radius: 0.25rem;
  margin: auto;
  transform: scale(1, var(--scale));
  background: linear-gradient(0deg, rgba(var(--dark0rgb), var(--transparency)), rgba(var(--dark0rgb), var(--transparency))), var(--file);
  background-size: 100% 100%;
}
.spaceBlock {
  height: 1em;
  border-radius: 0.25em;
  text-align: center;
  color: transparent;
  background-color: transparent;
  display: inline-block;
  transition: background-color 200ms, color 200ms;
}
.page.showSpaces:hover > .line > .spaceBlock {
  background-color: var(--dark1);
  color: var(--light0);
}



/* Flex */

@media screen and (max-width: 480px) {
  body {
    flex-direction: column;
  }
  section {
    border-radius: 0 0 0.5rem 0.5rem;
    flex: 1 0 ;
  }
  main {
    flex: 1 0;
  }
}
